body {
    background: repeating-linear-gradient( -45deg, #000 0px, #000 5px, #333 6px, #333 11px, #000 12px);}

#title {
   background:orange;
   padding: 2%;
   margin:1%;
}

#instructions {
    background: wheat;
    padding:2%;
    margin:1%;
}

#goalNumber {
    background: lightgreen;
    padding: 2%;
    margin:1%;
}

#winLose {
    padding: 2%;
    background: lightblue;
    margin:1%;
    margin:1%;
}

.image {
    margin:1%;
    width: 100px;
    height: 100px;
}

#totalScore {
    background:teal;
    padding:2%;
    margin:1%;
}